<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ReactJS SSR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .div-word{
                background-color: #F6F6F6;
                padding: 10px;
                margin: 10px;
                border: 1px solid #D2D2D2;
            }
            .div-filter {
                display: flex;
                justify-content: space-around;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
        <script src="bundle.js"></script>
    </body>
</html>